<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div class="banner">
<%= link_to 'RailsWikinimous', articles_path %><%= link_to 'Add a new article', new_article_path %>

</div>
    <%= yield %>
  </body>
</html>
